.income {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(202, 202, 202)
}

.amount {
  color: rgb(33, 180, 146);
}

.font {
  font-size: 1.2rem;
  font-family: 'Baloo 2', cursive;
}

.container {
  height: 3.5em;
}